<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upper</title>
    <style>
        div{
            background-color: rgb(231, 237, 240);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 50px;
            padding: 20px;
            border-radius: 8px;
            border-color: rgb(17, 17, 17);
            font-size: 12px;
        }
    </style>
</head>
<center>
    <br><br><br><br><br><br><br><br><br>
<body bgcolor="skyblue">
    <div>
    <h1>{{ Capital }}</h1>
    </div>
    </form>
</body>
</html>